@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

/*import font style*/

@font-face{
    font-family: Rabbit;
    src: url(fonts/Rabbit.otf);
}

@font-face{
    font-family: Champagne;
    src: url(fonts/Champagne.ttf);

}

@font-face {
    font-family: Couture;
    src: url(../fonts/Couture.otf);
}

:root{
    --primary-color:#9400D3;
    --second-color:#ffffff;
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Champagne',sans-serif;
    font-size: 10px;
    color:#000000;
}

header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 auto;
    width: 100%;
    height: 100px;
    
}

.logo-title{
    width:60%;
    border-bottom: 0.2em solid #dddddd;
    justify-content: center;
  
}

.logo-title h1{
    font-family:Rabbit;
    font-size: 6em;
    letter-spacing:0.5em;
    font-weight: normal;
    text-align: center;       
}

.logo-title span{
    color:var(--primary-color);
    font-family:Rabbit;
    font-size: 1.5em;
   
}
.title{
    color: #000000;
}
.social-media{
    width: 15%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.social-media i{
    background-color:var(--second-color);
    font-size: 2.5rem;
    color:var(--primary-color);
   
    
  }

.social-media i:hover{
    
    font-size:3.5rem;
}

header .btn{
    margin: 10px;
}

.btn{
    width: 150px;
    height: 35px;
    background: none;
    padding: 0;
    border: 0.1px solid var(--primary-color);
    cursor:pointer;
    font-size:2em;
    font-weight: normal;
}

.btn:hover{
    background:var(--primary-color);
    color:var(--second-color);
 
}

nav{
   
    margin: 0 auto;
    width: 60%;
    margin-right: 245px;
    margin-top: 10px;
}

nav .menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 2em;
}


.menu-link{
    text-decoration: none;
    font-size:2em;
    font-weight: normal;
    padding-bottom:20px;
      
}

.menu-link:hover{
    color: var(--primary-color);
    border-bottom: solid 0.01em;
}
main{
    width: 1400px;
    display:grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 300px 300px;
    grid-gap: 5px 5px;
    margin: auto;
   
}

.recipes{
    position: relative;
}
.recipes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-filter{
    position: absolute;
    bottom: 0;
    background-color: #333;
    opacity: 50%;
    width: 100%;
    height: 22%;
}

.feature-title{
    position: absolute;
    font-family: Couture;
    letter-spacing: 2px;
    bottom:0;
    margin: 5px 10px;
   
}


.feature-title h1{
    font-size: 2.8em;
    color: var(--second-color);
}

.feature-title a{
    color: var(--primary-color);
}

.feature-title p{
    font-size: 1.2em;
    color: var(--second-color);
    margin: 5px 0px;
}
.date{
    position: relative;
    width: 60px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    background-color: var(--primary-color);
    padding: 10px 0px;
}

.date h3{
    line-height: 25px;
}
.date span{
    color: #222;

}